*{
  margin: 0;
  padding: 0;
}

body{
  background: rgb(17, 14, 65);
  background: linear-gradient(90deg, rgb(71, 70, 86) 0%, rgb(193, 232, 228) 16%);
 display: flex;
 justify-content: center;
 align-items: center;
}

.container{
  max-width: 500px;
  padding: 10px;
  margin-top: 6rem;
  background: rgb(240,251,250);
background: linear-gradient(355deg, rgba(240,251,250,1) 2%, rgba(26,19,148,1) 100%);
box-shadow: -1px 3px 10px -1px rgba(0,0,0,0.75);

}

h1{
  text-align: center;
  margin-bottom: 20px;
}
.myInput{
  width: 420px;
  height: 40px;
  font-size: 20px;
  padding-left: 5px;
  
}

input::placeholder{
  color: rgb(249, 207, 207);
  font-size: 20px;
  
}

.add-btn{
  height: 42px;
  cursor: pointer;
  background-color: burlywood;
  
  
}

.output{
  width: 475px;
  border: 1px solid black;
  height: 30px;
  margin-top: 10px;
  font-size: 20px;
  padding:5px;
  background-color: rgb(129, 129, 195);
  display: flex;
  justify-content: space-between;
  cursor: pointer;


}

.output:hover{
  background-color: rgba(26,19,148,1) ;
  color: white;
}

.remove-btn{
  text-align: center;
}

.btn-effect{
  padding: 10px;
  border-radius: 8px;
  background-color: rgb(129, 129, 195) ;
  cursor: pointer;

}
.btn-effect:hover{
  background-color: rgba(26,19,148,1) ;
  color: white;
}


.fa-pen-to-square{
  margin-right:15px ;
}